* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Ubuntu';
   font-size: 16px;
}

body {
   background-color: #c5ebc3;
}

.container {
   padding: 40px;
   display: flex;
   justify-content: space-evenly;
}

.info {
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   /* border: 1px solid red; */
}

.info h1 {
   font-size: 4em;
   text-align: center;
   margin-bottom: 30px;
}

/* .status {
   border: 1px solid orange;
} */

.player {
   margin: 20px 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.player h2 {
   font-size: 1.5em;
}

.player p {
   padding: 10px;
   font-size: 3em;
}

.board {
   background-color: #feb95f;
   height: 600px;
   width: 600px;
   margin: 0px auto;
   border-radius: 10px;
}

.row {
   display: flex;
   height: 200px;
}

#row-0 {
   border-bottom: 2px solid black;
}

#row-1 {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
}

#row-2 {
   border-top: 2px solid black;
}

.col {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 200px;
}

#col-0 {
   border-right: 2px solid black;
}

#col-1 {
   border-left: 2px solid black;
   border-right: 2px solid black;
}

#col-2 {
   border-left: 2px solid black;
}

.position {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   cursor: pointer;
}

.x-1 {
   position: absolute;
   width: 10px;
   height: 150px;
   background-color: #090446;
   border-radius: 10px;
}

.x-2 {
   position: absolute;
   width: 150px;
   height: 10px;
   background-color: #090446;
   border-radius: 10px;
}

.x {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: rotate(45deg);
}

.circle {
   width: 130px;
   height: 130px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border: solid 10px #786f52;
}
